/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bulma';
html{
  position: relative;
  height: 100%;
}

body {
  font-family: "Nunito",sans-serif;
  background-color: rgb(242, 242, 249);
  height: 100%;
}

.notification{
  width: 720px;
  margin: 0 auto;
}

.navbar{
  background-color: white;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 3px rgba(12,13,14,0.1),0 4px 20px rgba(12,13,14,0.035),0 1px 1px rgba(12,13,14,0.025);
  
  align-self: center;
   align-items: center;
justify-content: space-between;
}

.navbar-brand .title{
  color: #FF643C;
  font-family: "Nunito",sans-serif;
  font-weight: 700;
  font-size: 2em;
 }
 
a.button.is-text{
  color: red;
  text-decoration: none;
  background-color: white;
 }
a.button.is-text:hover{
  color: white;;
  background-color: #FF643C;
}
.columns.is-centered{
  max-width: 720px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 10px;
}
.column.is-4{
  width: 400px;
  margin-bottom: 50px;
}
.button.is-medium.is-fullwidth{
  color: white;
  background-color: #FF643C;
}
.subtitle.is-2{
  font-size: 1.86667rem;
  margin: 0 3px;
  font-family: "Nunito",sans-serif;
  color: #212529;
  text-align: center;
}
.subtitle.is-5{
  color: #212529;
  text-align: center;
}
.label{
  font-size: 0.9rem;
  font-weight: 600;
}
.button.button.is-primary{
  color: white;
  background-color: #FF643C;
  margin-right: 200px;
  top:10px;
}
.section.is-index{
  background-color: #FF643C;
}
.columns.is-centered.is-root{
  max-width: 300px;
  background-color: #FF643C;
  margin-bottom: 10px;
}
.button.is-medium.is-signin{
  width: 300px;
  color: #FF643C;
}

.button.is-medium.is-signup{
  width: 300px;
  background-color: #FF643C;
  color: white;
}
.control.is-index{
  text-align: center;
}
.user-feed{
  width: 720px;
  margin: 0px auto;
  height: 300px;
}
.columns.is-centered.is-show{
  background-color: #563d7c;;
  height: 250px;
  background-image: url('/assets/background.png');
}
.columns.is-centered.is-for-from{
  background-color: #563d7c;;
  height: 228px;
}
.box{
  margin: 0 auto;
  width: 720px;
  border-radius: 0px;
  box-shadow: none;
}
.section.is-index-q{
  padding: 10px;

}
.button.is-rounded{
  background-color: white;
  color: #FF643C;
}

.button.is-rounded:hover{
  color: white;
  background-color: #FF643C;
}
.question-btn{
  text-align: right;
}
.column.is-one-quarter{
  float: left;
}
.container.is-show-user{
  width: 720px;
}
.title-last-users{
  font-size: 2.5rem;
  font-weight: 0;
}

.users-index{
  max-width: 900px;
  text-align: center;
  margin: 0px auto;
}
.image.is-128x128{
  float: left;
  margin: 15px;
}
.button.is-light{
  left: 325px;
  top:10px;
}
.column.is-4.is-profile{
   width: auto;
}
.subtitle.is-2.is-profile{
  color: white;
}
.subtitle.is-5.is-profile{
  color: white;
}
.users-list{
  width: 790px;
  margin: 0px auto;
}
.image.is-128x128.in-profile{
  margin-left: 117px;
}
.follow {   
  max-width: 720px;
  margin: 0 auto;
}
